[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/lib/jenkins/workspace/django_project/Django_system 
ExecStart=/var/lib/jenkins/workspace/django_project/env/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          hospitalmanagement.wsgi:application

[Install]
WantedBy=multi-user.target
