{% extends 'hospital/admin_base.html' %}
{% load static %}
{% block content %}
{%  include 'hospital/admin_dashboard_cards.html' %}






<br><br><br>
<div class="row">
    <div class="col-12 col-md-6 col-lg-8 col-xl-8">
      <div class="card">
         <div class="card-header">
            <h4 class="card-title d-inline-block">Recent Doctor</h4> 
             </div>
                  <div class="card-body p-0">
                  <div class="table-responsive">
                  <table class="table mb-0">
                    <thead class="d-dark">
               
                          <tr>
                          <th>Name</th>
                          <th>Department</th>
                          <th>Contact</th>
                          <th>Status</th>

                        </tr>
                      </thead>
        {% for d in doctors %}
        <tr>
          <td> {{d.get_name}}</td>
          <td>{{d.department}}</td>
          <td>{{d.mobile}}</td>
          {% if d.status %}
          <td> <span class="label label-primary">Permanent</span></td>
          {% else %}
          <td> <span class="label label-success">On Hold</span></td>
          {% endif %}

        </tr>
        {% endfor %}
      </table>
</div>
</div>
</div>
<div class="row">

    <div class="col-12">
     <div class="card">
         <div class="card-header">
            <h4 class="card-title d-inline-block">Recent Patient</h4> 
             </div>
                  <div class="card-body p-0">
                  <div class="table-responsive">
                  <table class="table mb-0">
                    <thead class="d-dark">
          <tr>
            <th>Name</th>
            <th>Symptoms</th>
            <th>Contact</th>
            <th>Address</th>
            <th>Status</th>

          </tr>
        </thead>
        {% for p in patients %}
        <tr>
          <td> {{p.get_name}}</td>
          <td>{{p.symptoms}}</td>
          <td>{{p.mobile}}</td>
          <td>{{p.address}}</td>
          {% if p.status %}
          <td> <span class="label label-primary">Admitted</span></td>
          {% else %}
          <td> <span class="label label-success">On Hold</span></td>
          {% endif %}

        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>


{% endblock content %}
